<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cinema</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand">
            <img th:src="@{/images/cinema-logo-2.png}" height="37" alt="Cinema">
            Cinema
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <button th:if="${!loggedIn}" th:onclick="unHideLogin()" class="nav-item nav-link" >Login</button>
                <a th:if="${loggedIn}" class="nav-item nav-link " th:href="@{/profile}">
                    <img th:src="@{/images/person-icon-0.png}" alt="user"  height="37">
                </a>
                <a th:if="${loggedIn}" class="nav-link font-navbar" th:href="@{/logout}">
                    <img th:src="@{/images/icon-logout-0.jpg}" alt="user" width="30" height="30">
                </a>
            </div>

        </div>

    </div>
</nav>


<div class="profile-div bg-light">
    <div class="grid3" style="padding-top: 2rem">
        <div class="person">
            <div class="photo-container">
                <img th:src="@{/images/user_avatar.jpg}" th:width="120px" alt="Circle Image" class="rounded-circle"
                     src="">
            </div>
            <h3 class="title" th:text="${user.getFirstname() +' '+ user.getLastname()}">Ime Prezime</h3>
            <p class="category" th:text="${user.getType()}"></p>
            <button th:unless="${user.isAdmin()}" onclick="showpopup()" class="btn btn-primary">Surcharge</button>

        </div>

        <div class="content mygrid amounts">
            <div class="social-description">
                <h2 id="moneyWalletState" th:text="${(user.getWalletMoneyState()==null) ? '0 HRK' : user.getWalletMoneyState() + ' HRK'}"></h2>
                <p>Balance</p>
            </div>
            <div th:if="${user.getIsMember()}" class="social-description">
                <h2 th:text="${user.getObtainedBonusPoints()}"></h2>
                <p>Obtained Bonus Points</p>
            </div>
            <div class="social-description">
                <h2 th:text="${numOfActiveReservations}"></h2>
                <p>Active Reservations</p>
            </div>
        </div>
        <div class="content mygrid personalinfo">
            <span><b>Username:</b></span> <span th:text="${'  ' + user.getUsername()}"></span>
            <br><br>
            <span><b>Email:</b></span><span th:text="${'  ' + user.getEmail()}"></span>
        </div>
    </div>
    <div class="reservation-container">
            <div class="reservation"><p style="font-size: 24px; color: #1e90ff;">RESERVATIONS</p></div>
            <ul class="list-symbols">
                <li>
                    <div class="new-symbol"></div>
                    <small>New</small>
                </li>
                <li>
                    <div class="active-symbol"></div>
                    <small>Active</small>
                </li>
                <li>
                    <div class="previous-symbol"></div>
                    <small>Previous</small>
                </li>
            </ul>
            <div th:if="${newReservation != null}"  class="new-reservation"><span th:text="${newReservation.getReservationId()}" style="display:inline-block;width: 30px"></span>
                <span th:text="${newReservation.getMovie().getTitle()}" style="display:inline-block;width: 300px; margin-left: 20px"></span>
                <span th:text="${newReservation.getScreening().getDateOfScreening()}"></span>
                <span th:text="${newReservation.getScreening().getStartScreeningTime()}"></span>
                <span th:text="${newReservation.getNumOfSeats()} + ' seats'" style="display:inline-block;width: 120px"></span>
                <span th:if="${newReservation.isPaid()}" style="display:inline-block;width: 120px;">paid</span>
                <span th:unless="${newReservation.isPaid()}" style="display:inline-block;width: 120px;"><button class="pay-modal-view" data-bs-toggle="modal" data-bs-target="#payReservationModal" th:data-id="${newReservation.getReservationId()}" th:data-number="${newReservation.getNumOfSeats()}" th:data-price="${newReservation.getScreening().getPrice()}" th:data-title="${newReservation.getMovie().getTitle()}">PAY</button></span>
                <span th:if="${newReservation.getStars() == null}" style="display:inline-block;width: 130px;"><button th:data-id="${newReservation.getReservationId()}" th:data-title="${newReservation.getMovie().getTitle()}" class="grade-modal-view" data-bs-toggle="modal" data-bs-target="#gradeMovieModal" disabled>GRADE</button></span>
                <span style="float: right"><button th:type="button" th:onclick="'delReservation('+ ${newReservation.getReservationId()} +')'"  data-toggle="tooltip" data-placement="top" title="Delete movie" >
                        <img th:src="@{/images/delete-icon.png}" width="18" alt=""/>
                    </button></span>
            </div>
            <div class="active-reservation" th:each="activeReservation : ${activeReservations}">
                <span th:text="${activeReservation.getReservationId()}" style="display:inline-block;width: 30px"></span>
                <span th:text="${activeReservation.getMovie().getTitle()}" style="display:inline-block;width: 300px"></span>
                <span th:text="${activeReservation.getScreening().getDateOfScreening()}"></span>
                <span th:text="${activeReservation.getScreening().getStartScreeningTime()}"></span>
                <span th:text="${activeReservation.getNumOfSeats()} + ' seats'" style="display:inline-block;width: 120px; margin-left: 20px"></span>
                <span th:if="${activeReservation.isPaid()}" style="display:inline-block;width: 120px;">paid</span>
                <span th:unless="${activeReservation.isPaid()}" style="display:inline-block;width: 120px;"><button class="pay-modal-view" data-bs-toggle="modal" data-bs-target="#payReservationModal" th:data-id="${activeReservation.getReservationId()}" th:data-number="${activeReservation.getNumOfSeats()}" th:data-price="${activeReservation.getScreening().getPrice()}" th:data-title="${activeReservation.getMovie().getTitle()}">PAY</button></span>
                <span th:if="${activeReservation.getStars() == null}" style="display:inline-block;width: 130px;"><button th:data-id="${activeReservation.getReservationId()}" th:data-title="${activeReservation.getMovie().getTitle()}" class="grade-modal-view" data-bs-toggle="modal" data-bs-target="#gradeMovieModal" disabled>GRADE</button></span>
                <span style="float: right"><button th:type="button" th:onclick="'delReservation(' + ${activeReservation.getReservationId()} + ')'"  data-toggle="tooltip" data-placement="top" title="Delete movie" >
                        <img th:src="@{/images/delete-icon.png}" width="18" alt=""/>
                    </button></span>
            </div>
            <div class="previous-reservation" th:each="previousReservation : ${previousReservations}">
                <span th:text="${previousReservation.getReservationId()}" style="display:inline-block;width: 30px"></span>
                <span th:text="${previousReservation.getMovie().getTitle()}"style="display:inline-block;width: 300px"></span>
                <span th:text="${previousReservation.getScreening().getDateOfScreening()}"></span>
                <span th:text="${previousReservation.getScreening().getStartScreeningTime()}"></span>
                <span th:text="${previousReservation.getNumOfSeats()} + ' seats'" style="display:inline-block;width: 120px; margin-left: 20px"></span>
                <span th:if="${previousReservation.isPaid()}" style="display:inline-block;width: 120px;">paid</span>
                <span th:unless="${previousReservation.isPaid()}" style="display:inline-block;width: 120px;"><button class="pay-modal-view" data-bs-toggle="modal" data-bs-target="#payReservationModal" th:data-id="${previousReservation.getReservationId()}" th:data-number="${previousReservation.getNumOfSeats()}" th:data-price="${previousReservation.getScreening().getPrice()}" th:data-title="${previousReservation.getMovie().getTitle()}">PAY</button></span>
                <span th:if="${previousReservation.getStars() == null }" style="display:inline-block;width: 130px;"><button th:data-id="${previousReservation.getReservationId()}" th:data-title="${previousReservation.getMovie().getTitle()}" class="grade-modal-view" data-bs-toggle="modal" data-bs-target="#gradeMovieModal">GRADE</button></span>
                <span th:unless="${previousReservation.getStars() == null}" style="display:inline-block;width: 130px;" >
                    <span th:each="star: ${previousReservation.getStars()}" class="fa fa-star checked-show" style="padding-left: 5px"></span>
                </span>
                <span style="float: right"><button th:type="button" th:onclick="'delReservation(' + ${previousReservation.getReservationId()} +')'"  data-toggle="tooltip" data-placement="top" title="Delete movie" >
                        <img th:src="@{/images/delete-icon.png}" width="18" alt=""/>
                    </button></span>
            </div>
    </div>
</div>

<div id="overlay">
</div>

<div id="popup">
    <form th:action="@{/profile/ChargeAccount}" method="post" id="chargeAmount">
        <h3 style="text-align: center; padding-bottom: 1rem">Charge your account</h3><br>
        <div class="grid3" style="padding: 0; grid-gap: 2rem">
            <div style="grid-column-start: 1; grid-column-end: 2">
                <label for="amount">Amount (HRK):</label>
                <input style="display: block; width: 100%" type="number" id="amount" name="amount" step="0.50"
                       value='20.00' min="20" size="15" placeholder="xx.xx" required>
            </div>
            <div style="grid-column-start: 2; grid-column-end: 4">
                <label for="name">Name Surname:</label>
                <input style="display: block; width: 100%" type="text" id="name" name="name" placeholder="Name Surname"
                       required>
            </div>
            <div style="grid-column-start: 1; grid-column-end: 3">
                <label for="cc-number">Credit Card Number:</label>
                <input style="display: block; width: 100%" id="cc-number" name="credit-number" class="cc-number"
                       type="tel" pattern="\d*" maxlength="16" minlength="16" placeholder="xxxx xxxx xxxx xxxx"
                       required>
            </div>
            <div style="grid-column-start: 3; grid-column-end: 4">
                <label for="cc-number">Control number:</label>
                <input style="display: block; width: 100%" id="ccv" name="ccv" class="ccv" type="tel" pattern="\d*"
                       maxlength="3" minlength="3" placeholder="xxx" required>
            </div>
            <div style="grid-column-start: 1; grid-column-end: 2">
                <label for="expireMM" style="width: 100%">Expiration date:</label>
                <select name='expireMM' id='expireMM' required>
                    <option value=''>Month</option>
                    <option value='01'>January</option>
                    <option value='02'>February</option>
                    <option value='03'>March</option>
                    <option value='04'>April</option>
                    <option value='05'>May</option>
                    <option value='06'>June</option>
                    <option value='07'>July</option>
                    <option value='08'>August</option>
                    <option value='09'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>
                <select name='expireYY' id='expireYY' required>
                    <option value=''>Year</option>
                    <option value='22'>2022</option>
                    <option value='23'>2023</option>
                    <option value='24'>2024</option>
                    <option value='24'>2025</option>
                    <option value='24'>2026</option>
                </select>
            </div>
            <div style="grid-column-start: 2; grid-column-end: 3; margin: auto">
                <img th:src="@{/images/credit_cards.png}" src="https://cdn.wallpapersafari.com/34/82/YRzXPk.jpeg"
                     alt="credit cards" width="240">
            </div>
        </div>
        <div style="text-align: center; padding-top: 2rem">
            <button type="submit" class="btn btn-primary">Surcharge Account</button>
            <button type="button" class="btn btn-secondary" onclick="cancelCharge()">Cancel</button>
        </div>
    </form>

</div>


<div class="modal fade" id="gradeMovieModal" tabindex="-1" aria-labelledby="example3ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example3ModalLabel"><span>Grade: </span><span id="spanGradeMovie"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="gradeMovieId" th:name="id" class="form-control form-control-sm" type="text"  aria-label=".form-control-sm example" hidden>
                <span id="firstStar" class="fa fa-star " onclick="toggleChecked(this.id)"></span>
                <span id="secondStar" class="fa fa-star " onclick="toggleChecked(this.id)"></span>
                <span id="thirdStar" class="fa fa-star " onclick="toggleChecked(this.id)"></span>
                <span id="fourthStar" class="fa fa-star " onclick="toggleChecked(this.id)"></span>
                <span id="fifthStar" class="fa fa-star " onclick="toggleChecked(this.id)"></span>
                <hr>
                <button  type="submit" class="btn btn-primary" onclick="grade()">Submit</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="payReservationModal" tabindex="-1" aria-labelledby="example2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example2ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <input id="payReservationId" th:name="id" class="form-control form-control-sm" type="text"  aria-label=".form-control-sm example" hidden>
                    <div><span>Total seats selected: </span><span id="payNumOfSeats"></span></div>
                    <div><span>Price per seat: </span><span id="payPricePerSeat"></span><span>HRK</span></div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="valueChanged()" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Include bonus points
                        </label>
                    </div>
                    <div id="bonus-points">
                        <select id="bonus-points-select" class="form-select" aria-label="Default select example" onchange="valueChanged2()">
                            <option value="0" selected>Select amount of bonus points</option>
                            <option value="20">20 points for 20% sale</option>
                            <option value="30">30 points for 30% sale</option>
                            <option value="50">50 points for 50% sale</option>
                        </select>
                    </div>
                    <hr>
                    <span id="payment-hidden" hidden></span>
                    <div><span>TOTAL: </span><span id="totalPayment">0</span><span>HRK</span></div>
                    <hr>
                    <button  type="submit" class="btn btn-primary add-movie" onclick="pay()">Pay</button>

            </div>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript">

    function toggleChecked(id) {
        let currGrade = localStorage.getItem('grade');
        let currGradeInt = parseInt(currGrade);
        currGradeInt = currGradeInt + 1;
        localStorage.setItem('grade', currGradeInt.toString())
        let element = document.getElementById(id);
        if(!element.classList.contains('checked')) {
            element.classList.toggle('checked');
        }
    }

    function grade() {
        let grade = localStorage.getItem('grade');
        let movieId = $("#gradeMovieId").val();
        let currentUrl = window.location.href.split('#')[0] + "/grade/" + movieId + "/"  + grade;
        window.open(currentUrl, "_self");

    }

    $(document).on("click", ".pay-modal-view", function () {
        var reservationId = $(this).data('id');
        var pricePerSeat = $(this).data('price');
        var numOfSeats = $(this).data('number');
        var title = $(this).data('title')
        var totalWithoutBonusPoints = pricePerSeat * numOfSeats;
        console.log(reservationId )
        console.log(pricePerSeat)
        console.log(numOfSeats);
        console.log(totalWithoutBonusPoints)
        $(".modal-header .modal-title").text(title)
        $(".modal-body #payPricePerSeat").text(pricePerSeat)
        $(".modal-body #payNumOfSeats").text(numOfSeats)
        $(".modal-body #payReservationId").val(reservationId)
        $(".modal-body #totalPayment").text(totalWithoutBonusPoints)
        $(".modal-body #payment-hidden").text(totalWithoutBonusPoints)
    });

    $(document).on("click", ".grade-modal-view", function () {
        var reservationId = $(this).data('id');
        var title = $(this).data('title')
        console.log(reservationId )
        $(".modal-header #spanGradeMovie").text(title)
        $(".modal-body #gradeMovieId").val(reservationId)
        localStorage.setItem('grade', '0');
    });

    function valueChanged2() {
        let currValue = $("#payment-hidden").text();
        console.log(currValue)
        let bonusPoints = $("#bonus-points-select").val()
        console.log(bonusPoints)
        let newValue;
        if(bonusPoints == 0) {
            newValue = $("#payment-hidden").text()
        } else {
            newValue = currValue - currValue * bonusPoints / 100;
        }
        $("#totalPayment").text(newValue);
    }

    function valueChanged()
    {
        if($('#flexCheckDefault').is(":checked")) {
            $("#bonus-points").show();
        }
        else {
            $("#bonus-points").hide();
        }

    }

    function pay() {
        let reservationId = $("#payReservationId").val()
        let payValue = parseInt($("#totalPayment").text())
        let moneyWalletState = parseInt($("#moneyWalletState").text().split(" ")[0])
        let isIncluded = $("#bonus-points-select").val() != 0
        let bonusPointsIncluded = $("#bonus-points-select").val()
        if(payValue > moneyWalletState) {
            console.log(moneyWalletState);
            alert("You don't have enough money. Surcharge your account");
            let currentUrl = window.location.href.split('#')[0];
            window.open(currentUrl, "_self");
        } else {
            console.log(payValue)
            console.log(moneyWalletState)
            let currentUrl = window.location.href.split('#')[0] + "/pay/" + reservationId + "/?" + "amount=" + payValue + "&isIncluded=" + isIncluded + "&amountOfIncluded=" + bonusPointsIncluded;
            window.open(currentUrl, "_self");
        }

    }

    function showpopup() {
        var changeForm = document.getElementById('overlay');
        changeForm.style.display = "block";
        changeForm = document.getElementById('popup');
        changeForm.style.display = "block";
    }

    function cancelCharge() {
        var changeForm = document.getElementById('overlay');
        changeForm.style.display = "none";
        changeForm = document.getElementById('popup');
        changeForm.style.display = "none";
    }
</script>
</html>